article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}

.places {
	width: 100%;
	border: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.places h1 {
	width: 100%;
	font-size: 30px;
	margin-top: 20px;
}

.places h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}
.price_by_night {
	border: 4px solid #FF5A5F;
	border-radius: 50px;
	min-width: 60px;
	height: 60px;
	top: 10px;
	right: 20px;
	position: absolute;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.price_by_night p{
	color: #FF5A5F;
	font-size: 30px;
	margin: 0;
}

.information {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	margin-top: 30px;
	align-self: center;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.max_guest, .number_rooms, .number_bathrooms {
	text-align: center;
	position: relative;
	margin: auto 20px auto 10px;
}

.max_guest p, .number_rooms p, .number_bathrooms p {
	margin: auto 0px auto 10px;
}

.user {
margin: 20px 0 0 0;
}

.description {
	margin: 10px 0 20px 0;
}

.places .amenities {
	margin-top: 40px;
	height: auto;
	width: 100%;
	position: inherit;
}

.places .amenities ul {
	list-style: none;
}

.places .amenities h2, .places .reviews h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	text-align: left;
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.places .amenities ul li {
	padding: 5px 0;
	display: flex;
	align-items: center;
}

.places .amenities ul li div {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
}

.reviews {
	margin-top: 40px;
}

.reviews ul li{
	list-style: none;
}

.reviews h3 {
	font-size: 14px;
}

.reviews p {
	font-size: 12px;
}

.tv_icon {
	background: url(../images/icon_tv.png) no-repeat;
	background-size: contain;
}

.wifi_icon {
	background: url(../images/icon_wifi.png) no-repeat;
	background-size: contain;
}

.pet_icon{
	background: url(../images/icon_pets.png) no-repeat;
	background-size: contain;
}

.guest_icon {
	background: url(../images/icon_group.png) no-repeat center;
	width: 50px;
	height: 50px;
	margin-left: 25%;
	margin-top: auto;
}

.room_icon {
	background: url(../images/icon_bed.png) no-repeat center;
	width: 50px;
	height: 50px;
	margin-left: 25%;
	margin-top: auto;
}

.bath_icon {
	background: url(../images/icon_bath.png) no-repeat center;
	width: 50px;
	height: 50px;
	margin-left: 25%;
	margin-top: auto;
}