.filters {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	height: 70px;
	width: 100%;
	border-radius: 4px;
	position: relative;
}

button {
	font-size: 18px;
	color: #FFFFFF;
	background-color: #FF5A5F;
	opacity: 1;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	top: 11px;
	right: 30px;
}

button:hover {
	opacity: 0.9;
}