.filters {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	height: 70px;
	width: 100%;
	border-radius: 4px;
	position: relative;
}

button {
	font-size: 18px;
	color: #FFFFFF;
	background-color: #FF5A5F;
	opacity: 1;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	top: 11px;
	right: 30px;
}

button:hover {
	opacity: 0.9;
}

.locations {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	float: left;
	position: relative;
}

.amenities {
	height: 100%;
	width: 25%;
	float: left;
	position: relative;
}

.amenities h3, .locations h3 {
	font-weight: 600;
	padding-top: 20px;
	padding-left: 20px;
}

.amenities h4, .locations h4 {
	font-weight: 400;
	font-size: 14px;
	padding-left: 20px;
}