article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: inline-block;
}

.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places h1 {
	width: 100%;
	font-size: 30px;
}

.places h2 {
	font-size: 30px;
	text-align: center;
	margin: 0 0 20px 0;
}
